<div class="block w-full overflow-x-auto">
  <table class="items-center w-full bg-transparent border-collapse">
    <thead>
      <td
        class="
          w-full
          px-6
          align-middle
          border border-solid
          py-3
          text-xs
          uppercase
          border-l-0 border-r-0
          whitespace-nowrap
          font-semibold
          text-left
          bg-gray-50
          text-gray-500
          border-gray-100
        "
      >
        Úloha
      </td>
      <td
        class="
          px-6
          align-middle
          border border-solid
          py-3
          text-xs
          uppercase
          border-l-0 border-r-0
          whitespace-nowrap
          font-semibold
          text-left
          bg-gray-50
          text-gray-500
          border-gray-100
        "
      >
        Nálepky
      </td>
      <td
        class="
          px-6
          align-middle
          border border-solid
          py-3
          text-xs
          uppercase
          border-l-0 border-r-0
          whitespace-nowrap
          font-semibold
          text-left
          bg-gray-50
          text-gray-500
          border-gray-100
        "
      >
        Ukončenie
      </td>
    </thead>
    <tbody>
      <ng-container *ngIf="!loading; else loadingSkeleton">
        <tr
          *ngFor="let task of tasks"
          class="hover:bg-gray-50"
          [class.cursor-pointer]="isEditable"
          (click)="onTaskSelect(task)"
          [title]="task.id"
        >
          <td
            class="
              border-t-0
              px-6
              align-middle
              border-l-0 border-r-0
              text-xs
              whitespace-nowrap
              p-4
              text-left
              font-bold
            "
          >
            {{ task.name }}
          </td>
          <td
            class="
              border-t-0
              px-6
              align-middle
              border-l-0 border-r-0
              text-xs
              whitespace-nowrap
              p-4
              text-left
            "
          >
            <app-task-tag *ngFor="let tag of task.tags" [tag]="tag">
            </app-task-tag>
          </td>
          <td
            class="
              border-t-0
              px-6
              align-middle
              border-l-0 border-r-0
              text-xs
              whitespace-nowrap
              p-4
              text-left
            "
          >
            {{ task.date | date: "dd.MM.YYYY hh:mm" }}
          </td>
        </tr>
      </ng-container>
      <ng-template #loadingSkeleton>
        <tr
          data-placeholder
          class="h-52 w-full overflow-hidden relative bg-gray-200"
        >
          <td colspan="3"></td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
