<div class="block w-full overflow-x-auto">
  <table class="items-center w-full bg-transparent border-collapse">
    <thead></thead>
    <tbody>
      <tr *ngFor="let task of tasks" class="hover:bg-gray-50">
        <td
          class="
            border-t-0
            px-6
            align-middle
            border-l-0 border-r-0
            text-xs
            whitespace-nowrap
            p-4
            text-left
            font-bold
          "
        >
          {{ task.name }}
        </td>
        <td
          class="
            border-t-0
            px-6
            align-middle
            border-l-0 border-r-0
            text-xs
            whitespace-nowrap
            p-4
            text-left
          "
        >
          {{ task.date | date: "dd.MM.YYYY hh:mm" }}
        </td>
        <td
          class="
            border-t-0
            px-6
            align-middle
            border-l-0 border-r-0
            text-xs
            whitespace-nowrap
            p-4
            text-left
          "
        >
          <span
            class="
            text-xs
            font-semibold
            inline-block
            py-1
            px-2
            rounded-full
            text-{{ theme.primary }}-600
            bg-{{ theme.primary }}-200
            uppercase
            last:mr-0
            mr-1
          "
          >
            {{ task.tags }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
