<app-panel></app-panel>

<div class="absolute w-full h-full">
  <!-- <app-wave-theme *ngIf="theme.motive == 'wave'"></app-wave-theme>
  <app-line-theme *ngIf="theme.motive == 'line'"></app-line-theme>
  <app-bubble-theme *ngIf="theme.motive == 'bubble'"></app-bubble-theme>
  <app-paws-theme *ngIf="theme.motive == 'paws'"></app-paws-theme> -->
  <div
    class="min-h-screen min-w-max"
    style="background-image: url('assets/sea.jpg')"
  ></div>
</div>

<div
  class="relative md:ml-64 min-h-screen bg-{{ theme.primary }}-50 bg-opacity-90"
>
  <router-outlet></router-outlet>
</div>
