<nav
  class="
    md:left-0
    md:block
    md:fixed
    md:top-0
    md:bottom-0
    md:overflow-y-auto
    md:flex-row
    md:flex-nowrap
    md:overflow-hidden
    shadow-xl
    bg-white
    flex flex-wrap
    items-center
    justify-between
    relative
    md:w-64
    z-10
    py-4
    px-6
  "
>
  <div
    class="
      md:flex-col md:items-stretch md:min-h-full md:flex-nowrap
      px-0
      flex flex-wrap
      items-center
      justify-between
      w-full
      mx-auto
    "
  >
    <a
      class="
        md:block
        text-left
        md:pb-2
        text-gray-600
        mr-0
        inline-block
        whitespace-nowrap
        text-sm
        uppercase
        font-bold
        p-4
        px-0
      "
      [routerLink]="['/acc', 'dashboard']"
      routerLinkActive="router-link-active"
    >
      Taskplanner App
    </a>
    <div
      class="
        md:flex
        md:flex-col
        md:items-stretch
        md:opacity-100
        md:relative
        md:mt-4
        md:shadow-none
        shadow
        absolute
        top-0
        left-0
        right-0
        z-40
        overflow-y-auto overflow-x-hidden
        h-auto
        items-center
        flex-1
        rounded
        hidden
      "
    >
      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center">
          <a
            class="
              text-gray-500
              hover:text-gray-600
              text-xs
              uppercase
              py-3
              font-bold
              block
              cursor-pointer
            "
            [routerLink]="['/acc', 'dashboard']"
            routerLinkActive="active-link"
          >
            <i class="fa fa-desktop opacity-75 mr-2 text-sm"></i>
            <span>Nástenka</span>
          </a>
        </li>
        <li class="items-center">
          <a
            class="
              text-gray-700
              hover:text-gray-500
              text-xs
              uppercase
              py-3
              font-bold
              block
              cursor-pointer
            "
          >
            <i class="fa fa-tasks opacity-75 mr-2 text-sm"></i>
            <span>Úlohy</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
