<div
  *ngIf="task"
  class="bg-gray-50 shadow p-4 rounded-lg"
  (click)="onTaskSelect()"
>
  <div class="flex justify-between">
    <div class="flex items-center gap-2">
      <button
        class="rounded-lg border-2 border-gray-300 w-6 h-6 hover:shadow-sm"
      ></button>
      <div>
        <h5 class="text-base font-semibold text-gray-700">{{ task.name }}</h5>
      </div>
    </div>
    <div class="flex">
      <button
        class="
          bg-gray-50
          text-gray-600
          border border-gray-200
          rounded-lg
          w-8
          h-8
          flex
          content-center
          justify-center
          items-center
          hover:bg-white hover:shadow
        "
      >
        <i class="fa fa-ellipsis-h"></i>
      </button>
    </div>
  </div>
  <div class="text-sm text-gray-500 mt-2">
    {{ task.description }}
  </div>
  <div class="mt-2">
    <ng-container *ngFor="let tag of task.tags">
      <app-task-tag [tag]="tag"></app-task-tag>
    </ng-container>
  </div>
</div>
