<div class="relative md:ml-64">
  <svg
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 88.9 38.1"
    version="1.1"
    id="svg8"
    class="w-full absolute left-0 top-0"
  >
    <path
      style="fill-opacity: 1"
      class="fill-current text-{{ theme.primary }}-600"
      d="m 0,25.135416 c 7.9375,0 15.875,3.96875 26.9875,3.96875 14.2875,0 23.8125,-10.583333 33.3375,-10.583333 11.1125,0 18.028601,4.663905 28.575,5.291666 V 0 H 9.9999999e-7 Z"
      id="path1456"
    />
  </svg>

  <div class="relative md:pt-24 pb-24 pt-12">
    <div class="px-4 md:px-10 mx-auto w-full">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-9/12 px-4">
          <div
            class="
              relative
              flex flex-col
              min-w-0
              break-words
              bg-white
              rounded
              mb-6
              xl:mb-0
              shadow-lg
            "
          >
            <div class="rounded-t mb-0 px-4 py-3 border-0">
              <div class="flex flex-wrap items-center">
                <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                  <h3 class="font-semibold text-base text-blueGray-700">
                    Naplánované úlohy
                  </h3>
                </div>
                <div
                  class="
                    relative
                    w-full
                    px-4
                    max-w-full
                    flex-grow flex-1
                    text-right
                  "
                >
                  <button
                    class="
                        bg-{{ theme.primary }}-500
                        text-white
                        active:bg-{{ theme.primary }}-600
                        text-xs
                        font-bold
                        uppercase
                        px-3
                        py-1
                        rounded
                        outline-none
                        focus:outline-none
                        mr-1
                        mb-1
                        ease-linear
                        transition-all
                        duration-150
                      "
                  >
                    <i class="fa fa-angle-double-right"></i>
                    Zobraz všetky
                  </button>
                </div>
              </div>
            </div>
            <app-task-list></app-task-list>
          </div>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div
            class="
              relative
              flex flex-col
              min-w-0
              break-words
              bg-white
              rounded
              mb-6
              xl:mb-0
              shadow-lg
            "
          >
            <div class="flex-auto p-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
