<div class="relative md:ml-64 bg-gray-50">
  <svg
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 88.9 38.1"
    version="1.1"
    id="svg8"
    class="w-full absolute left-0 top-0"
  >
    <path
      style="fill-opacity: 1"
      class="fill-current text-pink-600"
      d="m 0,25.135416 c 7.9375,0 15.875,3.96875 26.9875,3.96875 14.2875,0 23.8125,-10.583333 33.3375,-10.583333 11.1125,0 18.028601,4.663905 28.575,5.291666 V 0 H 9.9999999e-7 Z"
      id="path1456"
    />
  </svg>

  <div class="relative md:pt-24 pb-24 pt-12">
    <div class="px-4 md:px-10 mx-auto w-full">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div
            class="
              relative
              flex flex-col
              min-w-0
              break-words
              bg-white
              rounded
              mb-6
              xl:mb-0
              shadow-lg
            "
          >
            <div class="flex-auto p-4"></div>
          </div>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div
            class="
              relative
              flex flex-col
              min-w-0
              break-words
              bg-white
              rounded
              mb-6
              xl:mb-0
              shadow-lg
            "
          >
            <div class="flex-auto p-4"></div>
          </div>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div
            class="
              relative
              flex flex-col
              min-w-0
              break-words
              bg-white
              rounded
              mb-6
              xl:mb-0
              shadow-lg
            "
          >
            <div class="flex-auto p-4"></div>
          </div>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div
            class="
              relative
              flex flex-col
              min-w-0
              break-words
              bg-white
              rounded
              mb-6
              xl:mb-0
              shadow-lg
            "
          >
            <div class="flex-auto p-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
