<div class="px-8 py-6">
  <div class="mb-8 px-4">
    <div class="flex pb-8">
      <div class="flex">
        <h1 class="text-xl md:text-3xl font-bold">Nastavenia</h1>
      </div>
    </div>

    <div class="flex border-b-2 border-gray-200 -mx-4">
      <div
        class="px-4 py-2 -mb-0.5 text-sm font-medium text-gray-700 cursor-pointer border-b-2 border-{{
          theme.primary
        }}-500"
      >
        Grafické
      </div>
      <div
        class="px-4 py-2 -mb-0.5 text-sm font-medium text-gray-500 hover:text-gray-700 cursor-pointer border-b-2 border-opacity-0 border-{{
          theme.primary
        }}-500 hover:border-opacity-100"
      >
        Používateľské
      </div>
    </div>
  </div>

  <div>
    <div class="relative w-full mb-3">
      <label class="block uppercase text-gray-600 text-xs font-bold mb-2">
        Farebná téma
      </label>
      <div class="flex gap-4">
        <div
          *ngFor="let color of theme.colors"
          class="
          block
          bg-{{ color }}-600
          rounded
          w-8
          h-8
          border-2 border-white
          cursor-pointer
        "
          [class.border-black]="theme.primary == color"
          (click)="theme.changePrimary(color)"
        ></div>
      </div>
    </div>
    <!-- <div class="relative w-full mb-3">
      <label class="block uppercase text-gray-600 text-xs font-bold mb-2">
        Motív
      </label>
      <div class="flex gap-4">
        <div
          *ngFor="let motive of theme.motives"
          class="
          bg-{{ theme.primary }}-500
          text-white
          active:bg-{{ theme.primary }}-600
          font-bold
          uppercase
          text-xs
          px-4
          py-2
          rounded
          shadow
          hover:shadow-md
          outline-none
          focus:outline-none
          mr-1
          mb-1
          ease-linear
          transition-all
          duration-150
          cursor-pointer
        "
          [class.border-black]="theme.motive == motive"
          (click)="theme.changeMotive(motive)"
        >
          {{ motive }}
        </div>
      </div>
    </div> -->
    <div class="relative w-full mb-3">
      <label class="block uppercase text-gray-600 text-xs font-bold mb-2">
        Pozadie
      </label>
      <div class="flex gap-4">
        <div
          *ngFor="let background of theme.backgrounds"
          class="
          bg-{{ theme.primary }}-500
          text-white
          active:bg-{{ theme.primary }}-600
          font-bold
          uppercase
          text-xs
          px-4
          py-2
          rounded
          shadow
          hover:shadow-md
          outline-none
          focus:outline-none
          mr-1
          mb-1
          ease-linear
          transition-all
          duration-150
          cursor-pointer
        "
          [class.border-black]="theme.background == background"
          (click)="theme.changeBackground(background)"
        >
          {{ background }}
        </div>
      </div>
    </div>
  </div>
</div>
