<div>
  <div class="mb-8 px-8 pt-6 backdrop-filter backdrop-blur-sm">
    <div class="flex pb-8">
      <div class="flex">
        <h1 class="text-xl md:text-3xl font-bold">Nástenka úloh</h1>
      </div>
    </div>

    <div class="flex border-b-2 border-gray-200 -mx-4">
      <div
        class="px-4 py-2 -mb-0.5 text-sm font-medium text-gray-500 hover:text-gray-700 cursor-pointer border-b-2 border-opacity-0 border-{{
          theme.primary
        }}-500 hover:border-opacity-100"
      >
        Prehľad
      </div>
      <div
        class="px-4 py-2 -mb-0.5 text-sm font-medium text-gray-700 cursor-pointer border-b-2 border-{{
          theme.primary
        }}-500"
      >
        Úlohy
      </div>
      <div
        class="px-4 py-2 -mb-0.5 text-sm font-medium text-gray-500 hover:text-gray-700 cursor-pointer border-b-2 border-opacity-0 border-{{
          theme.primary
        }}-500 hover:border-opacity-100"
      >
        Zvyky
      </div>
    </div>
  </div>
  <div class="px-6 pt-6">
    <div class="flex gap-4">
      <div class="bg-gray-200 p-4 rounded-lg w-96 shadow">
        <div class="flex justify-between">
          <h3 class="text-xl font-semibold text-gray-600">Zoznam #1</h3>
          <button
            class="
              bg-gray-50
              text-gray-600
              rounded-lg
              shadow
              w-8
              h-8
              flex
              content-center
              justify-center
              items-center
              hover:bg-white hover:shadow-lg
            "
          >
            <i class="fa fa-plus"></i>
          </button>
        </div>

        <div class="flex flex-col gap-4 mt-4">
          <app-task-summary *ngFor="let task of tasks" [task]="task">
          </app-task-summary>
        </div>
      </div>

      <div class="w-96">
        <button
          class="
            bg-gray-200 bg-opacity-75
            w-full
            p-4
            rounded-lg
            shadow
            ease-linear
            transition-all
            duration-100
            hover:bg-opacity-100 hover:bg-gray-100
          "
        >
          <span><i class="fa fa-plus mr-2"></i></span>
          <span>Pridať ďalší zoznam</span>
        </button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

<!-- <div class="relative md:pt-24 pb-24 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div class="flex flex-wrap">
      <div class="w-full px-4">
        <div
          class="
            relative
            flex flex-col
            min-w-0
            break-words
            bg-white
            rounded
            mb-6
            xl:mb-0
            shadow-lg
          "
        >
          <div class="rounded-t mb-0 px-4 py-3 border-0">
            <div class="flex flex-wrap items-center">
              <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                <h3 class="font-semibold text-base text-blueGray-700">
                  Naplánované úlohy
                </h3>
              </div>
              <div
                class="
                  relative
                  w-full
                  px-4
                  max-w-full
                  flex-grow flex-1
                  text-right
                "
              >
                <button
                  class="
                    bg-{{ theme.primary }}-500
                    text-white
                    active:bg-{{ theme.primary }}-600
                    text-xs
                    font-bold
                    uppercase
                    px-3
                    py-1
                    rounded
                    outline-none
                    focus:outline-none
                    mr-1
                    mb-1
                    ease-linear
                    transition-all
                    duration-150
                  "
                  [routerLink]="['new']"
                >
                  <i class="fa fa-plus"></i>
                  <span class="ml-2">Vytvor novú úlohu</span>
                </button>
              </div>
            </div>
          </div>
          <app-task-list [isEditable]="true"></app-task-list>
        </div>
      </div>
    </div>
  </div>
</div>
 -->
